@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,700&display=swap');


body {
  margin: 0;
  font-family:'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --border-color: #e3e5e4;
  --background-color: #eee;
  --text-color:#222;
}

.ui.grey.left.floated.button:hover{
  background-color: #666 !important;
  color: white !important;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* * {
  boz-sizing: border-box;
} */

.item a {
  color:#666 !important;
}

.test {
  color:black !important;
  text-decoration: underline;
}

.test.button{
  background-color:yellow !important;
}

.ui.button {
  color:grey !important;
  background-color:white !important;
  border:1px solid grey !important;
}

hr {
  border: 0.2px dotted #eee !important;
}

a {
  color: white !important;
}

a.ui.teal.label, .ui.teal.labels .label {
  background-color: #666 !important;
}

/* a:hover {
  background-color: #eee;
} */

.ui.items>.item>.content>a.header {
  color: black!important
}

p {
  text-align:left;
font-size: 14px;
margin-bottom: 50px;
}

h1 {
  margin-top:50px !important;
}

img {
  width:100%;
  margin:0 auto;
  display:block;
}


button a {
  color:white !important;
}

.ui.list .list>.item>i.icon, .ui.list>.item>i.icon {
  color:#666!important;
}

.ui.basic.button, .ui.basic.buttons .button {
  margin-top:15px;
  color:white !important;
  background-color: white;

}

.ui[class*="left floated"].button, .ui[class*="left floated"].buttons {
  margin-top:15px;
  color:#666 !important;

}


.draggable-list .number {
  background-color: var(--background-color);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      height: 30px;
      width: 30px;
      border-radius: 50%;
}

.draggable-list li.over .draggable {
  background-color: #eaeaea
}

h4 {
  text-transform: uppercase !important;
  letter-spacing:4px !important;
  text-align:center !important;
}

.person-name{
  align-items:center !important;
  display:flex !important;
  flex-direction:column !important;
  align-items:center !important;
  display:block !important;
  text-align:center !important;
  position: relative !important;
}

h2 {
  text-align:center !important;
  color: #948989 !important;
}

.draggable-list li.right .person-name {
  color: #2a2a2a;
  text-align:center !important;

}


.ui.divided.items .item {
  padding-top:30px !important;
  padding-bottom:30px !important;
}

.ui.menu {
  box-shadow:none !important;
}

.ui.fluid.four.item.menu img {
  box-shadow: none !important;
}

.ui.centered.grid h1 {
  color:#FF6347;
}

.ui.label {
  background-color: #FFA500 !important;
}

.ui.grey.circular.label, .ui.grey.label {
background-color: #FFA500 !important;
}


